.body{
  margin: 0px;
}
.header {
  width:80%;
  margin: auto;
  border: dashed 1px red;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display:flex;
}

.menu{
  width:23%;
  display: flex;
  justify-content: space-between;
}

.first-section{
display:flex;
width:80%;
margin:auto;
border: 1px red dashed;
}

.main-section__title{
  font-family: 'PT Serif',sans-serif;
}
