

.body{
  margin: 0px;
}
.wrapper{
  width:80%;
  margin: auto;
}
.header {
  padding: 40px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 137px 0;
}

.logo{
  display:flex;
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}

.menu{
  align-items:stretch;
  width:33%;
  display: flex;
  justify-content: space-between;
}

.menu__item{
  position: relative;
  font: 500 18px/21px 'roboto', arial, helvetica, sans-serif;
  text-decoration:none;
  margin-right: 26px;
  color: #000;
  opacity:1;
  transition: opacity 0.5s, color 0.5s, width 0.5s;
  cursor:pointer;
}

.menu__item:last-child{
  margin-right: 0px;
}

.menu__item:hover{
  opacity:0.5;
}

 .menu__item_hover::after{
  width: 0;
  position:absolute;
  display:block;
  content:'';
  height:3px;
  background: #000;
  transition: width 0.5s;
  opacity:0.5;
}

.menu__item_hover:hover::after{
  width:100%;
}

.menu__item_active::after{
  position:absolute;
  display:block;
  content:'';
  width:100%;
  height:3px;
  background: #0056EC;
}

.first-section{
  display:flex;
  justify-content: space-between;
  padding:0 0 200px 0;
}

.main{
  display:inline;
  width:35%

}
.main__title{
  font-family:'pt_serif_bold', arial, helvetica, sans-serif;
  font-size: 50px;
  align-items: flex-start;
  margin: 0 0;

}
.main__subtitle{
  font: normal 18px 'roboto', arial, helvetica, sans-serif;
  margin: 40px 0 0 0;

}

.main__button{
  margin: 40px 0 0;
  width: 48%;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font: normal 14px 'roboto', arial, helvetica, sans-serif;
  color: #fff;
  background-color: #0056EC;
  transition: margin 0.3s, box-shadow 0.5s;

}

.main__button:hover{
  margin:35px 0 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  cursor:pointer;
}


 .image{
   width:65%;
   height:439px;
   background: url('img/mainImg.svg');
   background-position: center;
   background-repeat: no-repeat;
 }

 .main__title-background{
   background-color: #ECF3FF;
 }
